doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/stylesheets/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-2.2.1.min.js')
    script(src='https://cdn.socket.io/socket.io-1.4.5.js')
    script(src='/javascripts/materialize.min.js')
  body.grey.lighten-4
    block content
