extends layout

block content
    #createStory.modal
        .modal-content
            h4 Give the estimation a name
            p e.g. the jira story (SAM-****)
            input(name="estimationName", type="text", placeholder="Name me please")
        .modal-footer
            a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Create
    // Dropdown Structure
    ul#availableEstimations.availableEstimations.dropdown-content
        li
            a.modal-trigger(href='#createStory') Create story
        li.divider

    //header-content
    nav.nav-wrapper
        a.button-collapse(href='#', data-activates='slide-out')
            i.mdi-navigation-menu
        a#chat-title.brand-logo(href='#', style="padding-left: 10px;") RefineMe
        ul#nav-mobile.right.hide-on-med-and-down
            li.endStoryButton
                a.btn(href='#!') Finish estimation
            li
                a.leave_room(href='#', title="Leave")
                    i.mdi-action-exit-to-app
    //menu
    ul#slide-out.side-nav.fixed(style="margin-top: 64px;")
        .row(style="padding-top: 15px;")
            .input-field.col.s8
                input#storyName(type='text', style="color: black;")
                label(for='storyName') Story name
            .col.s4.valign-wrapper
                button.valign.btn-floating.btn-large.waves-effect.waves-light.red
                    i.mdi-content-add
        li.divider
        #availableStories
            li Story name

    // main-container
    main
        .chat-app(style="padding-right: 100px;")
            #users.row
    script(src='build/room.bundle.js')