extends layout

block content
    #createEstimation.modal
        .modal-content
            h4 Give the estimation a name
            p e.g. the jira story (SAM-****)
            input(name="estimationName", type="text", placeholder="Name me please")
        .modal-footer
            a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Create
    // Dropdown Structure
    ul#availableEstimations.availableEstimations.dropdown-content
        li
            a.modal-trigger(href='#createEstimation') Create estimation
        li.divider

    nav.nav-wrapper
        ul#slide-out.side-nav
        a#chat-title.brand-logo(href='#') RefineMe
        a.button-collapse(href='#', data-activates='slide-out')
            i.mdi-navigation-menu
        ul#nav-mobile.right.hide-on-med-and-down
            li#endEstimationButton(style="display:none")
                a.btn(href='#!') Finish estimation
            li#availableEstimationsDropdown.hide
                a.dropdown-button(href='#!', data-activates='availableEstimations') Available estimations
                    i.material-icons.right arrow_drop_down
            li
                a#leave-session(href='#') Leave session
    .chat-app
        #overview.row

            .col.m12.s12
                .card
                    .card-content.row
                        .col.m6
                            div
                                | Session token:&nbsp;
                                span#session_token
                            div
                                | Current estimation:&nbsp;
                                span#current-estimation
                            div
                                span#invite-url
                        .col.m6
                            #result
        #users.row
    script(src='/javascripts/session.js')