<div id="card_{{user}}" class="col s12 m3">
    <div class="card">
        <div class="card-image center" style="height: 300px;">
            <div id="storyText" class="light-green storyText" >?</div>
            <div id="estimationDone" style="display: none;"><i class="material-icons">done</i></div>
            <span class="card-title black-text">{{actual_user}}</span>
        </div>
        <div class="hide card-action">
            <a class="dropdown-button btn" href="#" data-activates="dropdown_{{user}}">#</a>
            <a id="acceptStory" class="btn right" href="#">Accept</a>
        </div>
    </div>
</div>
