<div id="card_{{user}}" class="col s12 m3">
    <div class="card">
        <div class="card-content center" style="padding: 0px 0px 20px 0px;">
            <div class="row estimation-container">
                <div class="collection col s6">
                    <a href="#!" class="collection-item grey waves-effect waves-teal white-text">?</a>
                    <a href="#!" class="collection-item green waves-effect waves-teal darken-2 white-text">1</a>
                    <a href="#!" class="collection-item light-green waves-effect waves-teal white-text">3</a>
                    <a href="#!" class="collection-item lime waves-effect waves-teal white-text">8</a>
                    <a href="#!" class="collection-item amber lighten-2 waves-effect waves-teal white-text">21</a>
                    <a href="#!" class="collection-item blue-grey waves-effect waves-teal white-text">55</a>
                </div>
                <div class="collection col s6">
                    <a href="#!" class="collection-item green darken-4 waves-effect waves-teal white-text">Too small</a>
                    <a href="#!" class="collection-item green waves-effect waves-teal white-text">2</a>
                    <a href="#!" class="collection-item lime lighten-1 waves-effect waves-teal white-text">5</a>
                    <a href="#!" class="collection-item amber darken-1 waves-effect waves-teal white-text">13</a>
                    <a href="#!" class="collection-item deep-purple lighten-4 waves-effect waves-teal white-text">34</a>
                    <a href="#!" class="collection-item cyan darken-3 waves-effect waves-teal white-text">Too big</a>
                </div>
            </div>
            <span class="card-title black-text">{{actual_user}}</span>
        </div>
    </div>
</div>
