<li class="no-padding">
    <ul class="collapsible collapsible-accordion">
        <li><a class="collapsible-header">Avail. estimations<i class="mdi-navigation-arrow-drop-down right"></i></a>

            <div class="collapsible-body">
                <ul class="availableEstimations">
                    <li><a href="#createEstimation" class="modal-trigger">Create estimation</a></li>
                    <li class="divider"></li>
                </ul>
            </div>
        </li>
    </ul>
</li>
<li id="endEstimationButton" style="display:none"><a href="#!" class="btn">Finish estimation</a></li>
<li><a id="leave-session" href="#">Leave session</a></li>