<li><span class="invite-url"></span></li>
<li class="no-padding">
    <ul class="collapsible collapsible-accordion">
        <li><a class="collapsible-header">Avail. estimations<i class="mdi-navigation-arrow-drop-down right"></i></a>

            <div class="collapsible-body">
                <ul class="availableEstimations">
                    <li><a href="#createStory" class="modal-trigger">Create estimation</a></li>
                    <li class="divider"></li>
                </ul>
            </div>
        </li>
    </ul>
</li>
<li class="endStoryButton"><a href="#!" class="btn">Finish estimation</a></li>
<li><a class="leave_room" href="#">Leave room</a></li>