body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
body {
  background: #fff;
}
header,
main,
footer {
  padding-left: 240px;
}
@media only screen and (max-width : 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}
.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: #e91e63;
}
.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid #e91e63;
  box-shadow: none;
}
.storyText {
  font-size: 230px;
  line-height: 300px;
}
.storyText-important {
  font-size: 230px !important;
  line-height: 300px !important;
}
.preloader-wrapper.big {
  width: 250px;
  height: 250px;
  margin-top: 25px;
}
.side-nav li {
  padding: 0 !important;
}
.side-nav.fixed a {
  padding: 0 30px !important;
}
.bold>a {
  font-weight: bold;
}
