.mdl-card-wide.mdl-card {
  width: 500px;
}
.mdl-dialog.mdl-dialog-wide {
  width: 500px;
}
body {
  background: #fff;
}
.estimationText {
  font-size: 230px;
  line-height: 300px;
}
.estimationText-important {
  font-size: 230px !important;
  line-height: 300px !important;
}
.preloader-wrapper.big {
  width: 250px;
  height: 250px;
  margin-top: 25px;
}
.login.mdl-layout {
  align-items: center;
  justify-content: center;
}
.login.mdl-layout__content {
  padding: 24px;
  flex: none;
}
